<nav style="height: 60px;" class=" sticky-top navbar navbar-expand-lg navbar-light shadow bg-white custom-nav">
<div class="container-fluid">
  <button class="navbar-toggler" style="outline:none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <span id="hello" >Grupo Taveras</span>
    <img routerLink="" style="outline: none" width="40px" src="../../assets/icon.png" alt="">


  <div id="collapsed__bar" class="collapse navbar-collapse bg-white rounded" id="navbarSupportedContent" style="padding: 0 15px">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nuestros Servicios
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="solutions"><i class="fas fa-lightbulb"></i>  Soluciones Taveras</a>
          <a class="dropdown-item" routerLink="vehicles"><i class="fas fa-car"></i> Vehículos Taveras</a>
          <a class="dropdown-item" routerLink="investments"><i class="fas fa-dollar-sign"></i> Inversiones Taveras Brito</a>
          <a class="dropdown-item" routerLink="cooperatives"><i class="fas fa-home"></i> Cooperativas Taveras</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-center" routerLink=""><i class="fas fa-info-circle"></i> Conócenos!</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contactanos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 custom__search" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</div>
</nav>
