<div class="box" style="">
  <div class="container-fluid menu__box">
    <h1 class="text-center">Conozca Nuestros Servicios</h1>
      <div class="row circle__icons text-center">
        <div class="col-sm-3 icon-box circle__icons__bulb">
          <img routerLink="solutions" class="home-banner" src="../../assets/bulb.jpg" alt="First slide">
          <p>Soluciones Taveras</p>
        </div>
        <div class="col-sm-3 icon-box circle__icons__car">
          <img routerLink="vehicles" class="d-block home-banner" src="../../assets/car.jpg" alt="First slide">
          <p>Vehículos Taveras</p>
        </div>
        <div class="col-sm-3 icon-box circle__icons__dollar">
          <img routerLink="investments" class="d-block home-banner" src="../../assets/invest.jpg" alt="First slide">
          <p>Inversiones Taveras Brito</p>
        </div>
        <div class="col-sm-3 circle__icons__bank">
          <img routerLink="cooperatives" class="d-block home-banner" src="../../assets/coop.jpg" alt="First slide">
          <p>Cooperativas Taveras</p>
        </div>
      </div>
  </div>
</div>
