<img class="mb-4" style="object-fit: cover" height="500px" width="100%" src="../../assets/handshake.jpg" alt="">
<h1 class="text-center mt-5 ">Contenido</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <section class="">
        <div class="card border-0 shadow-sm text-justify">
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipiscing elit justo diam vivamus tempor, iaculis augue pharetra auctor. Suspendisse ante magnis nulla tellus dictum rhoncus vulputate, mattis penatibus porttitor ornare hendrerit fames. Dictum duis fusce neque quis ad primis, torquent nunc a nostra semper.

                Erat nullam ullamcorper curae aenean non sem varius nam nibh, torquent lacinia vestibulum proin aliquam orci posuere tempus venenatis quam, tempor eleifend magnis rhoncus porttitor lobortis sociis in. Curae lacus fusce sem luctus arcu pretium ut per netus senectus eros dui, leo magna turpis ornare felis viverra blandit tempor vehicula litora nunc a, facilisis natoque platea inceptos risus sociosqu suscipit potenti porttitor dictumst non. Cubilia fames montes at vel ultrices netus interdum dui cras viverra, ornare primis felis aliquet urna magna laoreet sociis iaculis.
              </p>
              <img style="margin: 25px 0" width="100%" src="../../assets/car.jpg" alt="">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipiscing elit justo diam vivamus tempor, iaculis augue pharetra auctor. Suspendisse ante magnis nulla tellus dictum rhoncus vulputate, mattis penatibus porttitor ornare hendrerit fames. Dictum duis fusce neque quis ad primis, torquent nunc a nostra semper.

                Erat nullam ullamcorper curae aenean non sem varius nam nibh, torquent lacinia vestibulum proin aliquam orci posuere tempus venenatis quam, tempor eleifend magnis rhoncus porttitor lobortis sociis in. Curae lacus fusce sem luctus arcu pretium ut per netus senectus eros dui, leo magna turpis ornare felis viverra blandit tempor vehicula litora nunc a, facilisis natoque platea inceptos risus sociosqu suscipit potenti porttitor dictumst non. Cubilia fames montes at vel ultrices netus interdum dui cras viverra, ornare primis felis aliquet urna magna laoreet sociis iaculis.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipiscing elit justo diam vivamus tempor, iaculis augue pharetra auctor. Suspendisse ante magnis nulla tellus dictum rhoncus vulputate, mattis penatibus porttitor ornare hendrerit fames. Dictum duis fusce neque quis ad primis, torquent nunc a nostra semper.

                Erat nullam ullamcorper curae aenean non sem varius nam nibh, torquent lacinia vestibulum proin aliquam orci posuere tempus venenatis quam, tempor eleifend magnis rhoncus porttitor lobortis sociis in. Curae lacus fusce sem luctus arcu pretium ut per netus senectus eros dui, leo magna turpis ornare felis viverra blandit tempor vehicula litora nunc a, facilisis natoque platea inceptos risus sociosqu suscipit potenti porttitor dictumst non. Cubilia fames montes at vel ultrices netus interdum dui cras viverra, ornare primis felis aliquet urna magna laoreet sociis iaculis.
              </p>
            </div>

        </div>
      </section>
    </div>
    <div class="col-sm-4 section_4">
      <section>
        <img width="100%" src="../../assets/car.jpg" alt="">
      </section>
    </div>
  </div>

</div>
